<div>
  {{ title }}
</div>

<div>The double of 3 is {{ duplicateNumber(3) }}</div>

<h2>Movie Data</h2>

<img
  *ngIf="!movies"
  src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif?cid=ecf05e47u46gkzdr4jutxw24epmisvwrheju95l88k8kegcr&rid=giphy.gif&ct=g"
/>

<div *ngIf="movies?.length === 0">There are no records to display</div>

<div *ngFor="let movie of movies; let index = index" class="movie-container">
  <div>{{ index }}) {{ movie.title }}</div>

  <div>
    {{ movie.releaseDate | date: "d MMMM yyyy" | uppercase }}
  </div>

  <div>
    {{ movie.price | currency }}
  </div>
</div>
