<app-menu></app-menu>

<div>
  <input type="text" (input)="title = $event.target.value" />
</div>
<div>
  <input type="checkbox" checked (change)="display = !display" /> Display
</div>

<app-lifecycletest *ngIf="display" [title]="title"></app-lifecycletest>

<!-- <app-rating (onRating)="handleRating($event)"></app-rating> -->

<!-- <div class="container">
  <h2>In Theaters</h2>

  <app-movies-list [movies]="moviesInTheaters"></app-movies-list>

  <h2>Future Releases</h2>

  <app-movies-list [movies]="moviesFutureReleases"></app-movies-list>
</div> -->
